/*
iffy◒
s9a.page/iffy color typhoon
webmural.com/iffy thxyz hue
*/
.iyff {filter:hue-rotate(-288deg)}
.ffiy {filter:hue-rotate(288deg)}
.ffyi {filter:hue-rotate(144deg)}
.yiff {filter:hue-rotate(-144deg)}
.iffy {fill:var(--iffy);stroke:var(--yffi)}
.yffi {fill:var(--yffi);stroke:var(--iffy)}
.iffy.iffy {background-color:var(--iffy);color:var(--yffi)}
.yffi.yffi {background-color:var(--yffi);color:var(--iffy)}
.iffy ::selection {color:var(--iffy);background:var(--else)}
.yffi ::selection {color:var(--yffi);background:var(--else)}
.iffy *{background-color:transparent;color:unset;--else:aquamarine}
.yffi *{background-color:transparent;color:unset;--else:dodgerblue}
*{--iffy:darkviolet;--yffi:lemonchiffon}
@media (prefers-color-scheme:dark){*{--yffi:khaki}}
@media (prefers-contrast:more){*{--iffy:indigo}}
@media (prefers-contrast:less){*{--yffi:peachpuff}}

/*
play
*/

:focus { 
  box-shadow: 0 0 1ch 1ch var(--yffi, yellow);
  outline: thick dotted purple;
}

* { box-sizing: border-box }

html { 
  font-family: sans-serif;
  font-size: max(1em, 1.11vmax);
  line-height: 1.618;
}

body { 
  width: 100%;
  margin: auto; padding: 1em;
}

section { 
  display: block;
}

fieldset { padding: 0; border: 0 }

label { margin: 0; padding: 0 }

.curve {
  border-radius: .25em;
}

.bttn {
  font: inherit;
  font-weight: bold;
  min-height: 2.5em;
  display: inline-block;
  border: 0;
  border-radius: 1ch;
  padding: .382em .618em;
  text-decoration: .236em solid underline;
  margin: 0;
}

.bttn:focus {
  text-decoration-style: dotted;
}

select {
  display: inline-block;
  text-transform: uppercase;
}

option {
  text-transform: uppercase;
}

header {
  margin-bottom: 2em;
}

h1 {
  font-size: 2em;
  font-weight: unset;
  margin-bottom: 1ch;
}

h2 {
  font-size: 1.236em;
}

dfn,
cite {
  font-style: unset;
  font-weight: bold;
}

span {
  font-weight: normal;
}

fieldset {
  margin-bottom: 2em;
}

.mb1 { margin-bottom: 1ch }
.mb2 { margin-bottom: 1em }
.mb3 { margin-bottom: 2em }

label {
  display: block;
  margin-bottom: 1em;
}

.supernova {
  box-sizing: border-box;
  border: medium solid;
  border-radius: 1ch;
  display: block;
  font: inherit;
  height: 7.5em;
  margin: 0 0 1em;
  max-width: 100%;
  overflow: auto;
  padding: 1ch;
  resize: vertical;
  white-space: pre-wrap;
  width: 100%;
}
